[user]
	name = Gary Murray
	email = gary.murray@carvana.com
[core]
  editor = $EDITOR
	pager = delta
[delta]
  features = side-by-side
  line-numbers = true
  hunk-header-style = omit
[merge]
	conflictstyle = diff3
[alias]
	aa = add -A
  bd = branch -d
  bdd = !git branch | fzf --multi --info=inline | xargs git branch -D
  bD = branch -D
	cb = checkout -b
  co = checkout
  find = !git checkout $(git branch | fzf --info=inline)
	track = !git branch --show-current | xargs git push -u origin
	unstage = reset --soft HEAD^
