dot_codex/log
dot_codex/sessions/**
dot_codex/shell_snapshots
dot_codex/private_auth.json
dot_codex/private_history.jsonl
dot_codex/version.json
dot_config/fish/private_fish_variables
dot_config/opencode/node_modules
dot_pi/agent/sessions
private_Library/private_Application Support/lazygit/state.yml
dot_config/fish/conf.d/local.fish
dot_pi/agent/private_auth.json
