/Library/Application Support/lazygit/state.yml
/.config/herdr/herdr-client.log
/.config/herdr/herdr-server.log
/.config/herdr/release-notes.json
/.config/herdr/session-history.json
/.config/herdr/session.json
/.config/opencode/package-lock.json
/.codex/skills/.system/

.DS_Store
/.config/opencode/AGENTS.md
/.config/opencode/service.json
