snippet imp "import"
import ${2:module_name} from '${1:module}'
endsnippet

snippet imd "import destructure"
import {$2} from '${1:module}'
endsnippet

snippet debug "insert breakpoint"
/* eslint-disable-next-line */
debugger;
endsnippet
